page-about {
   
    @import url('https://fonts.googleapis.com/css?family=Prompt');
   

    h2{
        font-family: 'Prompt', sans-serif;
    }
   
.row_about {
    background-color: rgb(228, 228, 228);
    border-radius: 4px; 
   
}
.item_label{
    background-color: rgb(187, 189, 188) !important;
    color:whitesmoke;
    border: 4px;
    font-size: 120%;
    text-align: left ;
    width: 100%;
    border-radius: 4px; 
    padding: 0 10px 0 15px;
    font-family: 'Prompt', sans-serif;
}
.button_top{ 
    border-radius: 4px; 
    font-size: 11px;
    font-family: 'Prompt', sans-serif;
    
}
.body_about{
    
    padding: 0 10px 0 15px;
}
  
}
