<ion-header>
  <ion-navbar>
    <ion-title text-center class="bar-header">

      {{this.todo.showhead}}

     
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding  (ionScroll)="onScroll($event)" >
 
  <ion-chip><ion-label><h2 style="margin-top:2px;">LOTTOLY</h2> </ion-label></ion-chip>



  <ion-grid class="grid_top" >
      <ion-row style="background:rgb(231, 226, 226);">
          
        <ion-col col-9>
        <ion-input  class="input_scan"   placeholder="ตรวจสลากกินแบ่งรัฐบาล " name="input1" id="input1" type=text  maxlength="6" [(ngModel)]="todo.search"></ion-input>
        </ion-col>
        <ion-col col-3>            
           <div class="qrcode"  (click)="barcodescan()"><img src="assets/img/qr.png" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" /></div>
          </ion-col>
        <ion-col col-12>
        <button class="button_send" ion-button block color="secondary" (click)="check(todo.search)"> <ion-icon name="search" style="zoom:1.5;"> </ion-icon>  เช็คหวย </button>
        </ion-col>

       
    </ion-row>
  </ion-grid>
  
 
  <ion-fab bottom right>
      <button  (click)="go_top()" ion-fab mini  color="primary">
      <ion-icon name="arrow-dropup-circle"  ></ion-icon>
      </button>
  </ion-fab>

  <ion-fab  bottom right style=" margin-bottom:50px;">
    <button  (click)="this.LoadingDefault()" ion-fab mini  color="dark">
    <ion-icon  ios="ios-refresh" md="md-refresh"  ></ion-icon>
    </button>
  </ion-fab>
 
  
  <ion-navbar color='custom1'  >
    <ion-list *ngFor="let item2 of result_html; ">

      <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col text-center col-12 class='herder_lotto'>
                   
                      {{item2.name_reward}}
                  
                  </ion-col>
                </ion-row>
              </ion-grid>
                
            
                <ion-grid>
                  <ion-row >
                    <ion-item class='body_lotto'>
                      <ion-row >
                        <ion-col   class="center"  col-auto *ngFor="let item3 of item2.result; let i = index" >
                          
                          {{ item3 }}

                        </ion-col>
                      </ion-row>
                    </ion-item>
                  </ion-row>
                </ion-grid>



                <ion-grid>
                  <ion-row>
                    <ion-col text-center col-12 class='footer_lotto'>
                      {{item2.reward}} 
                    </ion-col>

                  </ion-row>
                </ion-grid>

      </ion-item>


    </ion-list>
  </ion-navbar >
</ion-content  >

<!-- 
<ion-footer>
  <ion-toolbar>
    <ion-title>Credit สำนักงานสลากกินแบ่งรัฐบาล(http://www.glo.or.th)</ion-title>

  </ion-toolbar>
</ion-footer> -->
